<ion-grid>
  <ion-row>
    <ion-col col-md-12>
      <a href="#">
        <img class="sb-icon" src="../../assets/img/icon Cart.png" />
      </a>
    </ion-col>
    <ion-col col-md-12>
      <a href="#">
        <img class="sb-icon" src="../../assets/img/icon Food.png" />
      </a>
    </ion-col>
    <ion-col col-md-12>
      <a href="#">
        <img class="sb-icon" src="../../assets/img/icon Location.png" />
      </a>
    </ion-col>
    <ion-col col-md-12>
      <a href="#">
        <img class="sb-icon" src="../../assets/img/icon pickup.png" />
      </a>
    </ion-col>
    <ion-col col-md-12>
      <a href="#">
        <img class="sb-icon" src="../../assets/img/icon Close X.png" />
      </a>
    </ion-col>
  </ion-row>
</ion-grid>
